@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
 }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1160px;
  width: 90%; 
  margin: 0 auto;
}

/* Css Reset  */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Common Classes */
.upper-case { text-transform: uppercase; }
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: -o-linear-gradient(left, #443D80 31%, #256482);
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, #443D80), to(#256482));
  background: linear-gradient(to right, #443D80 31%, #256482);
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  opacity: .8;
}

header.active {
  padding: 10px 0;
  opacity: 1;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation-left {
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation-right {
  width: 77%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation-left-link,
.navigation-right-link {
  color: #C7C2EC;
  font-size: 14px;
  text-transform: uppercase;
}

.main-heading-link {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 800;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  z-index: 5;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999999px;
}

.line {
  width: 30px;
  height: 3px;
  margin: 7px 0;
  display: block;
  background-color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.active-hamburger .line { background-color: #fff; }

.active-hamburger .line1 {
  -webkit-transform:  translateY(12px) rotate(41deg);
  -ms-transform:  translateY(12px) rotate(41deg);
  transform:  translateY(12px) rotate(41deg);
 }

.active-hamburger .line2 { 
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
 }

.active-hamburger .line3 { 
  -webkit-transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-46deg);
  /* -ms-transform: scale(0);
  transform: scale(0); */
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */
.banner {
  width: 100%;
  height: 566px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("../images/1.jpg") no-repeat center/cover;
  overflow: hidden;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #443D80 20%, #256482);
  opacity: .7;
}

.banner .wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow-div,
.right-arrow-div {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  background-color: #fff;
  cursor: pointer;
}

.left-arrow-div {
  left: 0;
  transform: translateX(-50%);
}

.right-arrow-div { 
  right: 0;
  transform: translateX(50%);
}

.left-arrow,
.right-arrow {
  text-indent: -999999px;
}

.left-arrow::after ,
.right-arrow::after {
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  color: #256482;
  font-family: FontAwesome;
  font-size: 34px;
  align-items: center;
  clear: both;
  float: right;
  opacity: .6;
  text-indent: 0;
}

.left-arrow::after {
  content: "\f104";
  margin-left: 46px;
}

.right-arrow::after {
  content: "\f105";
  margin-left: 20px;
}

.banner-slider {
  margin-top: 53px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slider-list {
  width: 701px;
  height: 262px;
  border-radius: 10px;
  display: flex;
}

.banner-slider-list figure {
  width: 105%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.banner-slider-list img {
  height: 100%;
  object-fit: cover;
}

.banner-slider-content {
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  background: #fff;
  text-align: center;
}

.banner-content-name {
  padding: 6px 50px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #3c8cd2;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.heading-two {
  margin: 22px 0 15px;
  color: #080808;
  font-size: 19px;
  font-weight: 500;
  text-transform: lowercase;
}

.banner-content-name::before,
.banner-content-name::after  {
  content: "";
  border: 16px solid transparent;
  position: absolute;
  top: 0;
}

.banner-content-name::before{
  border-right-color: #3c8cd2;
  left: -31px;
}

.banner-content-name::after {
  border-left-color: #3c8cd2;
  right: -31px;
}

.banner-content-para {
  color: #7B7B7B;
  font-size: 13px;
  line-height: 29px;
}

.read-btn {
  padding: 9px 13px;
  border: 1px solid #3c8cd2;
  margin-top: 26px;
  color: #3c8cd2;
  font-size: 12px;
  text-transform: uppercase;
}

.read-btn::after {
  content: "\f178";
  margin-left: 4px;
  color: #3c8cd2;
  font-family: FontAwesome;
  font-size: 14px;
}

.banner-slider-list { display: none; }
.banner-slider-list.active{
  display: flex;
}
/* banner styling ends here */

/* latest post styling starts here */


.news { 
  padding: 80px 0 19px;
  background-color: #F6F6F6;
}

.news .wrapper { text-align: center;}

.heading-three {
  padding: 8px 40px;
  border: 1px solid #D0D0D0;
  display: inline-block;
  position: relative;
  color: #222;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.news-block {
  margin: 50px 0 30px;
  display: flex;
  justify-content: space-between;
}

.news-block-list {
  width: 23.2%;
  border-radius: 10px;
  overflow: hidden;
}

.news-content {
  width: 100%;
  margin-bottom: 31px;
}

.news-content figure {
  height: 212px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.news-block-list:nth-child(2) .news-content:first-child figure:first-child { height: 183px;}
.news-block-list:nth-child(4) .news-content:first-child figure:first-child { height: 183px;}

.news-content img {
  height: 100%;
  object-fit: cover;
}

.news-content-box {
  padding: 20px 10px 0;
  border: 1px solid #D0D0D0;
  border-top: none;
  position: relative;
}

.shaped-box {
  padding: 6px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #3c8cd2;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.shaped-box::before,
.shaped-box::after  {
  content: "";
  border: 16px solid transparent;
  position: absolute;
  top: 0;
}

.shaped-box::before{
  border-right-color: #3c8cd2;
  left: -31px;
}

.shaped-box::after {
  border-left-color: #3c8cd2;
  right: -31px;
}

.news-content-heading {
  width: 80%;
  margin: 23px 0 11px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: lowercase;
}

.news-content-para {
  margin-bottom: 34px;
  color: #7C7C7C;
  font-size: 13px;
  line-height: 28px;
  word-break: break-all;
}

.comment-box {
  border: 1px solid #D0D0D0;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.like,
.comment {
  border-right: 1px solid #D0D0D0;
}

.like,
.comment,
.more {
  padding: 9px 0;
  display: flex;
  color: #C8C8C8;
  align-items: center;
  cursor: pointer;
  flex: 1;
  justify-content: center;
  text-indent: -999999px;
}

.like::after ,
.comment::after ,
.more::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
  float: right;
  clear: both;
  text-indent: 0;
  transition: .4s;
}

.like:hover::after ,
.comment:hover::after ,
.more:hover::after {
  color: #3c8cd2;
}

.like::after { content: "\f164";}
.comment::after { content: "\f075";}
.more::after { content: "\f178";}
/* latest post styling ends here */

/* category styling starts here */

.category {
  padding: 58px 0 53px;
  position: relative;
  z-index: 2;
  background: url("../images/3.jpg")no-repeat center/cover;
  text-align: center;
}

.category::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #443D80 31%, #256482);
  opacity: .9;
}

.heading-three { color: #E1EDF7; }

.category-block {
  margin: 54px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-block-list {
  width: 31.7%;
  height: 240px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.category-block-list figure,
.category-block-list img {
  width: 100%;
  height: 100%;
}

.category-block-heading {
  position: absolute;
  right: 6%;
  bottom: 5%;
  color: #F3F0EE;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.category-block-list { display: none;}
.category-block-list.active { display: block;}
/* category styling ends here */

/* article styling starts here */

.article {
  padding: 65px 0 53px;
  background-color: #F6F6F6;
}

.article-block { display: flex; }
.article-block-list { width: 29%; }
.article-block-list:nth-child(2) { margin: 0 60px; }

.heading-four {
  padding-bottom: 7px;
  border-bottom: 1px solid #7c7c7c45;
  position: relative;
  color: #282828;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}

.article-block-content { margin: 14px 0 26px; }

.post {
  color: #3F3F3F;
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
}

.date {
  display: block;
  color: #a79eb1;
  font-size: 13px;
  font-style: italic;
}
/* article styling ends here */

/* subscribe styling starts here */

.subscribe {
  padding: 41px 0 64px;
  background: linear-gradient(to right, #554D91 31%, #2A7290);
  opacity: .9;
}

.subscribe .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribe .heading-four {
  margin-right: 23px;
  margin-bottom: 14px;

  border: none;
  color: #EBF7FF;
 }

 .form {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .input-email {
   width: 586px;
   padding: 12px 15px;
   border: none;
   border-radius: 10px;
   outline: none;
   margin-right: 10px;
   font-size: 12px;
   font-weight: 500;
   font-style: italic;
   text-transform: uppercase;
 }

 input[type="submit"] {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #3388A7;
  color: #C8E8EC;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
 }

/* subscribe styling ends here */



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 45px 0 20px;
  position: relative;
  z-index: 1;
  background: url("../images/12.jpg") no-repeat center/cover;
  font-family: 'Poppins', sans-serif;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #403F7B, #205878);
  opacity: .95;
}

.footer-top { padding: 20px 0; }

.footer-top-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-top-list { width: 29%; }
.footer-top-list:nth-child(1){ width: 31.8%; }

.footer-top.para {
  color: #A4ACDC;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
}

.address,
.contact-us,
.email-us {
  width: 54%;
  display: flex;
}

.email-us { margin: 11px 0 15px; }

.location,
.phone,
.email {
  margin: 1px 9px 0 0;
  display: inline-block;
  text-indent: -999999px;
}

.location::after,
.phone::after,
.email::after {
  content: "";
  color: #A4ACDC;
  font-family: FontAwesome;
  font-size: 14px;
  float: right;
  clear: both;
  text-indent: 0;
}

.location::after { content: "\f124";}
.phone::after { content: "\f095";}
.email::after { content: "\f003";}

address,
.contact-us a,
.email-us a{
  color: #A4ACDC;
  font-size: 13.5px;
}

address {
  margin-bottom: 25px;
  line-height: 22px;
}

.social-icons {
  margin-right: 14px;
  text-indent: -999999px;
}

.social-icons::after {
  content: "";
  color: #9BB0CD;
  font-family: FontAwesome;
  font-size: 16px;
  float: right;
  clear: both;
  text-indent: 0;
}

.facebook::after { content: "\f09a";}
.google-plus::after { content: "\f0d5";}
.linked-in::after { content: "\f0e1";}
.pinterest::after { content: "\f0d2";}
.twitter::after { content: "\f099";}
.email::after { content: "\f0e0";}
.article-block-content:nth-child(4) { display: none; }

.recent-posts .article-block-content { margin: 13px 0; }

.recent-posts .post{
  display: inline-block;
  color: #D1DAE7;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  word-break: keep-all;
}
.recent-posts .date{
  margin-top: 7px;
  color: #ffffff75;
  font-size: 13.5px;
}

.footer-top-list .main-heading {
  margin-bottom: 9px;
}

.footer-top-list .heading-four {
  padding-bottom: 14px;
  margin-bottom: 20px;
  border-color: rgba(231, 249, 252, .42);
  color: rgb(231, 249, 252);
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: .5px;
}

.instagram-posts {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram-post-list {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}
.instagram-post-list figure, 
.instagram-post-list img {
  width: 100%;
  height: 100%;
}

.back-to-top {
  position: relative;
  text-align: center;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  width: 48%;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #AACAE7;
  transform: translateX(-50%);
}

.back-to-top::before { left: 24%; }
.back-to-top::after { right: -24%;}

.back-top-top-btn {
  width: 54px;
  height: 53px;
  padding-bottom: 4px;
  border: 1px solid #AACAE7;
  background-color: transparent;
  text-indent: -999999px;
}

.back-top-top-btn::after {
  content: "\f106";
  width: 100%;
  height: 100%;
  display: flex;
  color: #AACAE7;
  font-family: FontAwesome;
  font-size: 40px;
  align-items: center;
  float: right;
  clear: both;
  justify-content: center;
  text-indent: 0;
}

.footer-bottom { padding: 6px 0; }

.footer-bottom .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-six,
.heading-six-link {
  color: #ffffff4f;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-six-link {
  font-size: 11.3px;
  font-weight: 600;
  letter-spacing: 0;
}

.policy-link {
  color: #ffffff94;
  font-size: 11px;
  font-weight: 500;
}

.policy {
  padding-right: 17px;
  border-right: 1px solid #fff;
}
.terms {  padding-left: 7px;}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

  .instagram-post-list { width: 47%; }
  .back-to-top::before {  width: 47%; }
  .back-to-top::after { width: 47.5%; }
  .footer-top-list { width: 32%; }
  .footer-top.para { word-break: break-all; }
  .news-block { flex-wrap: wrap; }
  .news-block-list { width: 45%; }

  .news-content-heading {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
  }

  .news-content-para {
    padding: 20px 10px;
    margin-bottom: 0;
  }

  .address, .contact-us, .email-us {
    width: 80%;
    display: flex;
  }
}


/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  .navigation-left-link, .navigation-right-link {
    font-size: 12px;
    font-weight: 600;
  }

  .navigation-left,
  .navigation-right {
    width: 100%;
    display: inline-block;
  }

  .navigation-left-list { margin-right: 10px; }
  .navigation-right-list { margin-left: 20px; }

  .news-content figure { height: auto; }
  .heading-three { color: #3C8CD2; }
  .article-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .article-block-list {
    width: 40%;
    margin-bottom: 20px;
   }
  
  .footer-top-block {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-top-list {
    width: 51%;
    margin-bottom: 21px;
  }

  .footer-top-list:nth-child(1) { width: 51%; }

  .footer-top-list .main-heading,
  .footer-top-list .heading-four { 
    text-align: center; 
  }

  .back-to-top { overflow: hidden; }

}  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .article-block-list:nth-child(2) { margin: 0; }
  .article-block-list { width: 51%; }

  .navigation-left-list { margin-right: 20px; }
  .navigation-right-list { margin-left: 20px; }

  .news-block-list { width: 47%; }
  .top-list .heading-four { font-size: 20px; }

}

/*media query for 864px starts here*/
@media only screen and (max-width: 900px) {

  .navigation-left-list { margin-right: 13px; }
  .navigation-right-list { margin-left: 8px; }
  
  .navigation-left-link,
  .navigation-right-link {
    font-size: 11px;
  }
}  
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .hamburger {
    display: block;
    z-index: 5;
   }

  .nav-left,
  .nav-right {
    right: -320px;
    display: none;
    transition: .5s ease-in-out;
  }

  .nav-left.active,
  .nav-right.active {
    width: 300px;
    height: 50vh;
    display: flex;
    position: fixed;
    z-index: 4;
    right: 0;
    background-color: #000;
  }

  .nav-left.active { top: 0; }
  
  .nav-right.active  {
    top: 50%;
    transform: translateY(-10%);
  }

  .navigation-left,
  .navigation-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navigation-left-link,
  .navigation-right-link {
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;

  }

  .heading-two {  margin: 10px;}
  .banner-content-para { line-height: 22px;}
  .banner { height: 500px; }

  .banner-slider-list.active {
    width: 80%;
    margin: 0;
    display: flex;
  }

  .banner-slider-list figure { width: 40%; }

  .banner-slider-content {
    width: 60%;
    padding: 10px;
  }

  .news-block { justify-content: center; }
  .news-block-list { width: 60%; }
  
  .back-to-top::before { width: 45%; }
  .back-to-top::after { width: 47%; }
  .form { flex-direction: column; }
  .input-email { margin-bottom: 20px; }
  .subscribe .heading-four { margin: 0; }
  .form { width: 100%; }

  .input-email {
    width: 80%;
    margin: 10px 0 20px;
  }

  .banner-content-name { padding: 6px 30px; }

  .heading-two {
    margin: 7px 0;
    font-size: 16px;
  }

  .news-block-list { width: 70%; }
  .banner-content-para { font-size: 12px; }
  .read-btn { margin-top: 5px; }

  .back-to-top::before { width: 43%; }
  .back-to-top::after { width: 46.5%; }
  
  .category-block-heading { font-size: 16px; }

  .article-block-list,
  .footer-top-list:nth-child(1),
  .footer-top-list  {
    width: 80%;
  }

}  
/*media query for 520px starts here*/
@media only screen and (max-width: 520px) {

 
  .category-block-heading { font-size: 13px; }
  .back-to-top::after { width: 46%; }
  .back-to-top::before { 
    width: 47%;
    left: 21%;
   }

   footer { padding: 45px 0 10px; }
  .footer-bottom { padding: 11px 0; }
  .footer-bottom .wrapper { flex-direction: column; }
  .heading-six{ margin: 5px 0; }
  .recent-posts .post { font-size: 13px; }
  .back-to-top::after { width: 45%; }
  .back-to-top::before { width: 45%; }

  .banner-slider-list.active {
    width: 82%;
    height: auto;
    margin-top: 28px;
    align-items: center;
    flex-direction: column;
  }

  .banner-slider-list figure {
    width: 100%;
    height: 150px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .banner-slider-content {
    width: 100%;
    padding: 10px 10px 20px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .heading-two {
    margin: 7px 0;
    font-size: 15px;
  }

  .banner-content-para {
    font-size: 12px;
    line-height: 20px;
  }

  .read-btn {
    padding: 7px 9px;
    font-size: 11px;
  }

  .left-arrow-div,
  .right-arrow-div {
    width: 60px;
    height: 60px;
  }

  .left-arrow::after { margin-left: 35px; }
  .right-arrow::after { margin-left: 14px; }

}  


/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
  .news-block-list { width: 90%; }
  .back-to-top::after { width: 44.7%; }
.back-to-top::before { width: 44%; }
}