@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
 }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1160px;
  width: 90%; 
  margin: 0 auto;
}

/* Css Reset  */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #443D80 20%, #256482);
  opacity: .98;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.navigation-left {
  width: 71%;
  display: flex;
  justify-content: space-between;
}

.navigation-right {
  width: 77%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.navigation-left-link,
.navigation-right-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #C7C2EC;
}

.main-heading-link {
  color: #fff;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  flex: 1;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  z-index: 5;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999999px;
}

.line {
  width: 30px;
  height: 3px;
  margin: 7px 0px;
  display: block;
  background-color: var(--primary-color);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.active-hamburger .line { background-color: var(--primary-color); }

.active-hamburger .line1 {
  -webkit-transform:  translateY(12px) rotate(41deg);
  -ms-transform:  translateY(12px) rotate(41deg);
  transform:  translateY(12px) rotate(41deg);
 }

.active-hamburger .line2 { 
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
 }

.active-hamburger .line3 { 
  -webkit-transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-46deg);
  -ms-transform: scale(0);
  transform: scale(0);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  